/* BRANDS */
.brands {
   padding: 60px 0;
   overflow: hidden;
}

.brands__title {
   text-align: center;
   margin-bottom: 32px;
   color: var(--color-muted);
   font-size: 14px;
}

.brands__list {
   display: flex;
   align-items: center;
   gap: 32px;
   width: max-content;
}

.brands__list img {
   max-width: 170px;
   cursor: pointer;
}
