.designer__content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 80px;
   align-items: stretch;
}

.designer__body {
   display: flex;
   height: 100%;
}

.designer__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 16px;
}

.designer__content--right .designer__body {
   order: 1;
}

.designer__content--right .designer__image {
   order: 2;
}

.designer__content--left .designer__image {
   order: 1;
}

.designer__content--left .designer__body {
   order: 2;
}
